@font-face {
    font-family: Lato;
    src: url(../fonts/lato.ttf);  
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/lato-bold.ttf);  
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/rubik.ttf);  
}
@font-face {
    font-family: Rubik-Black;
    src: url(../fonts/rubik_black.ttf);  
}
*{
    font-family: "Lato", "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    color: #1A212F;
}
h1{
    font-family: "Rubik-Black", "PT Sans", "Arial", sans-serif;
    font-size: 3.9rem;
    line-height: 4.5rem;
    font-weight: 700;
}
h2{
    font-family: "Rubik-Black", "PT Sans", "Arial", sans-serif;
    font-size: 2.25rem;
    line-height: 2.7rem;
    font-weight: 700;
}
h3{
    font-family: "Rubik", "PT Sans", "Arial", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin: 0;
}
.wrapper {
    max-width: 80%;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
header>.wrapper{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
header ul {
    list-style: none;
    display: flex;
}
header ul li {
    margin-right: 30px;
    font-family: "Lato-Bold", "PT Sans", "Arial", sans-serif;

    
}
.about {
    background: 
    url('../images/mask.svg') no-repeat,
    linear-gradient(90deg, rgb(248, 180, 79) 40%, rgba(255, 255, 255, 0) 60%), 
    url('../images/kotik.png') no-repeat; 
    height: 504px;
    background-size: contain, auto, cover;
    background-position-x: left, center, right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main .wrapper span:first-of-type {
    font-size: 0.85rem;
    line-height: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
    font-family: "Lato-Bold", "PT Sans", "Arial", sans-serif;

}
.main .wrapper span:last-of-type {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
    font-family: "Lato-Bold", "PT Sans", "Arial", sans-serif;

}
/* .main .wrapper>*{
    border: 1px solid red;
} */
.main .wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main .wrapper h1{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.booking {
    height: 50px;
    width: 206px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin-top: 40px;
    text-decoration: none;
}
.booking:hover {
    color: #FF7236;
}
.booking img {
    display: block;
    margin: 7px;
}
.benefits {
    position: relative;
    padding-top: 140px;
    text-align: center;
}
.benefits h2 {
    margin: 0;
}
.paw-bg {
    position: absolute;   
    right: 0; 
    top: 0;
    z-index: -1;
}
.blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 680px;
    margin-top: 40px;
}
.block-benefit {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    width: 30%;
    height: 320px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
}
.block-benefit:nth-child(odd){
    margin-bottom: 20px;
}
.icon-benefit {
    margin-bottom: 35px;
}
.block-benefit p{
    margin-top: 20px;
}

